[Unit]
Description=Checkmate By Veriteknik
Documentation=https://github.com/eaydin/checkmate

[Service]
Type=simple
ExecStart=/opt/checkmate/venv/bin/python /opt/checkmate/checkmate.py
PIDFile=/var/run/checkmate.pid
User=root
Group=root

[Install]
WantedBy=multi-user.target